

/* Body Reset */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    color: var(--main-text-color);
    /*outline: 1px solid red;*/ 
}

/* variaveis de cor*/
:root{
    /*backgrounds*/
    --cor-interna: #e2e1e1; 
    --cor-externa: #c2c3c6;
    /*text*/
    --main-highlight-color:  orangered;
    --main-text-color: #292323;
    --misc-text-color: #0f1f3b;
    /*borders*/
    --border-color: #ffffff ;
    --bio-border-color: #0f1f3b;


/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/
}

#start-wrapper{
}

#img-bg{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    overflow: hidden;
    z-index: -2;

}
#img-bg::after {
    display: block;
    content: url(../images/peakpx.jpg);
    filter: brightness(15%);
    width: fit-content;
    position: relative;
    z-index: -2;
    margin: 0;
    animation: fadeAnimation 1.5s ease-in forwards;*/
}
#page-main-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100dvh; /* Set the height of the parent container */
    width: 100dvw;
}
#page-main-title-wrapper *{
    z-index: 1;

    /*
    opacity: 0;
    transform: translateY(0);
    animation: fadeAnimation 1.5s ease-in forwards;*/
}
#main-title-buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}
#main-title-buttons *{
    color: #0f1f3b;
    font-size: 2rem;
    margin: 0 20px;
    border:unset;
    border-left: solid 2px rgb(235, 0, 0);
    width: calc(2rem + 5vw);
}
#main-title{
    color: white;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#mainQuimica{
    display: grid;
    grid-auto-flow: column;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}


@keyframes fadeAnimation {
0% {
    filter: brightness(12.5%);
}
100% {
    filter: brightness(20%);

}
}

