
body {
counter-reset: element;
}
.periodic-table {
display: grid;
grid-column-gap: .4vw;
grid-row-gap: .4vw;
width: 60vw;
height: 18vh;
margin-top: 5%;
margin-left: auto;
margin-right: auto; 

}
.periodic-table > li {
display: flex;
position: relative;
justify-content: center;
align-items: center;
height: 3.1dvw;
width: auto;
border-radius: 3px;
background: rgb(91, 194, 234);
font-weight: bold;
border: solid 1px black;
color: black
}
.periodic-table > li:before {
counter-increment: element; 
content: counter(element);
position: absolute;
bottom: 5px;
left: 6px;
font-size: .7vw;
font-weight: lighter;
color: black
}
.periodic-table > li abbr {
color: black;
font-size: 1.4vw;
}
#helio {
grid-column-start: 18;
}
#boron, #aluminium {    
grid-column-start: 13;
}
#cerium, #thorium { 
grid-column-start: 4;
}
.periodic-table > li:nth-child(n+58):nth-last-child(n+48) {
grid-row-start: 8;
}
.periodic-table > li:nth-child(n+90):nth-last-child(n+16) {
grid-row-start: 9;
}
.periodic-table:before {
display: block;
content: '';
grid-row: 8 / 10;
grid-column: 1 / 4;
}
.periodic-table .gas-nobre {
background: rgb(234, 218, 36);
}
.periodic-table .halogenio {
background: rgb(234, 179, 127);
}
.periodic-table .metal-alcalino {
background: hsl(326, 52%, 84%);
}
.periodic-table .hidrogenio {
background: rgb(163, 199, 210);  
}
.periodic-table .metal-alcalino-terroso {
background: hsl(120, 52%, 84%);
}
.periodic-table .lantanideo {
background: hsl(183, 54%, 84%);
}
.periodic-table .actinideo {
background: hsl(82, 60%, 56%);  
}
.periodic-table .semimetal {
background: hsl(142, 60%, 56%);  
}
.periodic-table .ametal {
    background: hsl(88, 63%, 34%);  
}
.periodic-table .outros-metais{
    background: hsl(41, 63%, 34%);  
}
.go-left {

    animation: turn-left 0.3s ease forwards;
  }
  
  @keyframes turn-left {
    0% {
      transform:translateX(0%);

    }
    100% {
      transform: translateX(-30%);

    }
  }
.go-right {

    animation: turn-right 0.3s ease forwards;

}

@keyframes turn-right {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*
referencias
https://codepen.io/dudleystorey/pen/rmWMXY*/
