<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet"> 
    <link href="../css/tabela.css" rel="stylesheet">
    <link href="../css/cubo.css" rel="stylesheet">
    <title>Tabela periódica IFRS</title>
    <script src="../script/script.js" defer></script>
    <script src="../script/detalhes.js" type="module" ></script>
</head>
<body>
    <main>
        <div id="start-wrapper">
            <div id="img-bg">
            </div>
            <div id="page-main-title-wrapper">
                <span id="main-title">Ciências da Natureza - IFRS</span>
                <div id="main-title-buttons">
                    <button id="btnQuimica" class="btnMateria">Química</button>
                    <button id="btnFisica" class="btnMateria">teste</button>
                </div>

            </div>  

        </div id="main-content">


    </main>
    <!--química-->
    <div id="mainQuimica">
        <div id="quadroleto">
            <img src="../css/quadro.png" style="position: absolute;">
            <div id="tabela">
                <ol class="periodic-table">
                    <li class="hidrogenio">
                        <abbr class="element" title="Hidrogênio">H</abbr>
                    </li>
                    <li id="helio" class="gas-nobre">
                        <abbr class="element" title="Hélio">He</abbr>
                    </li>
                    <li class="metal-alcalino">
                        <abbr class="element" title="Lítio">Li</abbr>
                    </li>
                    <li class="metal-alcalino-terroso">
                        <abbr class="element" title="Berílio">Be</abbr>
                    </li>
                    <li id="boron" class="semimetal">
                        <abbr class="element" title="Boro">B</abbr>
                    </li>
                    <li class="ametal">
                        <abbr class="element" title="Carbono">C</abbr>
                    </li>
                    <li class="ametal">
                        <abbr class="element" title="Nitrogênio">N</abbr>
                    </li>
                    <li class="ametal">
                        <abbr class="element" title="Oxigênio">O</abbr>
                    </li>
                    <li class="halogenio">
                        <abbr class="element" title="Flúor">F</abbr>
                    </li>
                    <li class="gas-nobre">
                        <abbr class="element" title="Neônio">Ne</abbr>
                    </li>
                    <li class="metal-alcalino">
                        <abbr class="element" title="Sódio">Na</abbr>
                    </li>
                    <li class="metal-alcalino-terroso">
                        <abbr class="element" title="Magnésio">Mg</abbr>
                    </li>
                    <li id="aluminium" class="outros-metais">
                        <abbr class="element" title="Alumínio">Al</abbr>
                    </li>
                    <li class="semimetal">
                        <abbr class="element" title="Silício">Si</abbr>
                    </li>
                    <li class="ametal">
                        <abbr class="element" title="Fósforo">P</abbr>
                    </li>
                    <li class="ametal">
                        <abbr class="element" title="Enxofre">S</abbr>
                    </li>
                    <li class="halogenio">
                        <abbr class="element" title="Cloro">Cl</abbr>
                    </li>
                    <li class="gas-nobre">
                        <abbr class="element" title="Argônio">Ar</abbr>
                    </li>
                    <li class="metal-alcalino">
                        <abbr class="element" title="Potássio">K</abbr>
                    </li>
                    <li class="metal-alcalino-terroso">
                        <abbr class="element" title="Cálcio">Ca</abbr>
                    </li>
                    <li id="scandium" class="metal-transicao">
                        <abbr class="element" title="Escândio">Sc</abbr>
                    </li>
                    <li id="titanium" class="metal-transicao">
                        <abbr class="element" title="Titânio">Ti</abbr>
                    </li>
                    <li id="vanadium" class="metal-transicao">
                        <abbr class="element" title="Vanádio">V</abbr>
                    </li>
                    <li id="chromium" class="metal-transicao">
                        <abbr class="element" title="Cromo">Cr</abbr>
                    </li>
                    <li id="manganese" class="metal-transicao">
                        <abbr class="element" title="Manganês">Mn</abbr>
                    </li>
                    <li id="iron" class="metal-transicao">
                        <abbr class="element" title="Ferro">Fe</abbr>
                    </li>
                    <li id="cobalt" class="metal-transicao">
                        <abbr class="element" title="Cobalto">Co</abbr>
                    </li>
                    <li id="nickel" class="metal-transicao">
                        <abbr class="element" title="Níquel">Ni</abbr>
                    </li>
                    <li id="copper" class="metal-transicao">
                        <abbr class="element" title="Cobre">Cu</abbr>
                    </li>
                    <li id="zinc" class="metal-transicao">
                        <abbr class="element" title="Zinco">Zn</abbr>
                    </li>
                    <li id="gallium" class="outros-metais">
                        <abbr class="element" title="Gálio">Ga</abbr>
                    </li>
                    <li id="germanium" class="semimetal">
                        <abbr class="element" title="Germânio">Ge</abbr>
                    </li>
                    <li id="arsenic" class="semimetal">
                        <abbr class="element" title="Arsênio">As</abbr>
                    </li>
                    <li id="selenium" class="ametal">
                        <abbr class="element" title="Selênio">Se</abbr>
                    </li>
                    <li id="bromine" class="halogenio">
                        <abbr class="element" title="Bromo">Br</abbr>
                    </li>
                    <li id="krypton" class="gas-nobre">
                        <abbr class="element" title="Criptônio">Kr</abbr>
                    </li>
                    <li id="rubidium" class="metal-alcalino">
                        <abbr class="element" title="Rubídio">Rb</abbr>
                    </li>
                    <li id="strontium" class="metal-alcalino-terroso">
                        <abbr class="element" title="Estrôncio">Sr</abbr>
                    </li>
                    <li id="yttrium" class="metal-transicao">
                        <abbr class="element" title="Ítrio">Y</abbr>
                    </li>
                    <li id="zirconium" class="metal-transicao">
                        <abbr class="element" title="Zircônio">Zr</abbr>
                    </li>
                    <li id="niobium" class="metal-transicao">
                        <abbr class="element" title="Nióbio">Nb</abbr>
                    </li>
                    <li id="molybdenum" class="metal-transicao">
                        <abbr class="element" title="Molibdênio">Mo</abbr>
                    </li>
                    <li id="technetium" class="metal-transicao">
                        <abbr class="element" title="Tecnécio">Tc</abbr>
                    </li>
                    <li id="ruthenium" class="metal-transicao">
                        <abbr class="element" title="Rutênio">Ru</abbr>
                    </li>
                    <li id="rhodium" class="metal-transicao">
                        <abbr class="element" title="Ródio">Rh</abbr>
                    </li>
                    <li id="palladium" class="metal-transicao">
                        <abbr class="element" title="Paládio">Pd</abbr>
                    </li>
                    <li id="silver" class="metal-transicao">
                        <abbr class="element" title="Prata">Ag</abbr>
                    </li>
                    <li id="cadmium" class="metal-transicao">
                        <abbr class="element" title="Cádmio">Cd</abbr>
                    </li>
                    <li id="indium" class="outros-metais">
                        <abbr class="element" title="Índio">In</abbr>
                    </li>
                    <li id="tin" class="outros-metais">
                        <abbr class="element" title="Estanho">Sn</abbr>
                    </li>
                    <li id="antimony" class="semimetal">
                        <abbr class="element" title="Antimônio">Sb</abbr>
                    </li>
                    <li id="tellurium" class="semimetal">
                        <abbr class="element" title="Telúrio">Te</abbr>
                    </li>
                    <li id="iodine" class="halogenio">
                        <abbr class="element" title="Iodo">I</abbr>
                    </li>
                    <li id="xenon" class="gas-nobre">
                        <abbr class="element" title="Xenônio">Xe</abbr>
                    </li>
                    <li id="cesium" class="metal-alcalino">
                        <abbr class="element" title="Césio">Cs</abbr>
                    </li>
                    <li id="barium" class="metal-alcalino-terroso">
                        <abbr class="element" title="Bário">Ba</abbr>
                    </li>
                    <li id="lanthanum" class="lantanideo">
                        <abbr class="element" title="Lantânio">La</abbr>
                    </li>
                    <li id="cerium" class="lantanideo">
                        <abbr class="element" title="Cério">Ce</abbr>
                    </li>
                    <li id="praseodymium" class="lantanideo">
                        <abbr class="element" title="Praseodímio">Pr</abbr>
                    </li>
                    <li id="neodymium" class="lantanideo">
                        <abbr class="element" title="Neodímio">Nd</abbr>
                    </li>
                    <li id="promethium" class="lantanideo">
                        <abbr class="element" title="Promécio">Pm</abbr>
                    </li>
                    <li id="samarium" class="lantanideo">
                        <abbr class="element" title="Samário">Sm</abbr>
                    </li>
                    <li id="europium" class="lantanideo">
                        <abbr class="element" title="Európio">Eu</abbr>
                    </li>
                    <li id="gadolinium" class="lantanideo">
                        <abbr class="element" title="Gadolínio">Gd</abbr>
                    </li>
                    <li id="terbium" class="lantanideo">
                        <abbr class="element" title="Térbio">Tb</abbr>
                    </li>
                    <li id="dysprosium" class="lantanideo">
                        <abbr class="element" title="Disprósio">Dy</abbr>
                    </li>
                    <li id="holmium" class="lantanideo">
                        <abbr class="element" title="Hólmio">Ho</abbr>
                    </li>
                    <li id="erbium" class="lantanideo">
                        <abbr class="element" title="Érbio">Er</abbr>
                    </li>
                    <li id="thulium" class="lantanideo">
                        <abbr class="element" title="Túlio">Tm</abbr>
                    </li>
                    <li id="ytterbium" class="lantanideo">
                        <abbr class="element" title="Itérbio">Yb</abbr>
                    </li>
                    <li id="lutetium" class="lantanideo">
                        <abbr class="element" title="Lutécio">Lu</abbr>
                    </li>
                    <li id="hafnium" class="metal-transicao">
                        <abbr class="element" title="Háfnio">Hf</abbr>
                    </li>
                    <li id="tantalum" class="metal-transicao">
                        <abbr class="element" title="Tântalo">Ta</abbr>
                    </li>
                    <li id="tungsten" class="metal-transicao">
                        <abbr class="element" title="Tungstênio">W</abbr>
                    </li>
                    <li id="rhenium" class="metal-transicao">
                        <abbr class="element" title="Rênio">Re</abbr>
                    </li>
                    <li id="osmium" class="metal-transicao">
                        <abbr class="element" title="Ósmio">Os</abbr>
                    </li>
                    <li id="iridium" class="metal-transicao">
                        <abbr class="element" title="Irídio">Ir</abbr>
                    </li>
                    <li id="platinum" class="metal-transicao">
                        <abbr class="element" title="Platina">Pt</abbr>
                    </li>
                    <li id="gold" class="metal-transicao">
                        <abbr class="element" title="Ouro">Au</abbr>
                    </li>
                    <li id="mercury" class="metal-transicao">
                        <abbr class="element" title="Mercúrio">Hg</abbr>
                    </li>
                    <li id="thallium" class="outros-metais">
                        <abbr class="element" title="Tálio">Tl</abbr>
                    </li>
                    <li id="lead" class="outros-metais">
                        <abbr class="element" title="Chumbo">Pb</abbr>
                    </li>
                    <li id="bismuth" class="outros-metais">
                        <abbr class="element" title="Bismuto">Bi</abbr>
                    </li>
                    <li id="polonium" class="semimetal">
                        <abbr class="element" title="Polônio">Po</abbr>
                    </li>
                    <li id="astatine" class="halogenio">
                        <abbr class="element" title="Ástato">At</abbr>
                    </li>
                    <li id="radon" class="gas-nobre">
                        <abbr class="element" title="Radônio">Rn</abbr>
                    </li>
                    <li id="francium" class="metal-alcalino">
                        <abbr class="element" title="Frâncio">Fr</abbr>
                    </li>
                    <li id="radium" class="metal-alcalino-terroso">
                        <abbr class="element" title="Rádio">Ra</abbr>
                    </li>
                    <li id="actinium" class="actinideo">
                        <abbr class="element" title="Actínio">Ac</abbr>
                    </li>
                    <li id="thorium" class="actinideo">
                        <abbr class="element" title="Tório">Th</abbr>
                    </li>
                    <li id="protactinium" class="actinideo">
                        <abbr class="element" title="Protactínio">Pa</abbr>
                    </li>
                    <li id="uranium" class="actinideo">
                        <abbr class="element" title="Urânio">U</abbr>
                    </li>
                    <li id="neptunium" class="actinideo">
                        <abbr class="element" title="Netúnio">Np</abbr>
                    </li>
                    <li id="plutonium" class="actinideo">
                        <abbr class="element" title="Plutônio">Pu</abbr>
                    </li>
                    <li id="americium" class="actinideo">
                        <abbr class="element" title="Amerício">Am</abbr>
                    </li>
                    <li id="curium" class="actinideo">
                        <abbr class="element" title="Cúrio">Cm</abbr>
                    </li>
                    <li id="berkelium" class="actinideo">
                        <abbr class="element" title="Berquélio">Bk</abbr>
                    </li>
                    <li id="californium" class="actinideo">
                        <abbr class="element" title="Califórnio">Cf</abbr>
                    </li>
                    <li id="einsteinium" class="actinideo">
                        <abbr class="element" title="Einstênio">Es</abbr>
                    </li>
                    <li id="fermium" class="actinideo">
                        <abbr class="element" title="Férmio">Fm</abbr>
                    </li>
                    <li id="mendelevium" class="actinideo">
                        <abbr class="element" title="Mendelévio">Md</abbr>
                    </li>
                    <li id="nobelium" class="actinideo">
                        <abbr class="element" title="Nobélio">No</abbr>
                    </li>
                    <li id="lawrencium" class="actinideo">
                        <abbr class="element" title="Laurêncio">Lr</abbr>
                    </li>
                    <li id="rutherfordium">
                        <abbr class="element" title="Rutherfórdio">Rf</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Dúbnio">Db</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Seabórgio">Sg</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Bóhrio">Bh</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Hássio">Hs</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Meitnério">Mt</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Darmstádio">Ds</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Roentgênio">Rg</abbr>
                    </li>
                    <li>
                        <abbr class="element" title="Copernício">Cn</abbr>
                    </li>
                    <li class="outros-metais">
                        <abbr class="element" title="Nihônio">Nh</abbr>
                    </li>
                    <li class="outros-metais">
                        <abbr class="element" title="Flevório">Fl</abbr>
                    </li>
                    <li class="outros-metais">
                        <abbr class="element" title="Moscóvio">Mc</abbr>
                    </li>
                    <li class="outros-metais">
                        <abbr class="element" title="Livermório">Lv</abbr>
                    </li>
                    <li class="halogenio">
                        <abbr class="element" title="Tennesso">Ts</abbr>
                    </li>
                    <li class="gas-nobre">
                        <abbr class="element" title="Oganessônio">Og</abbr>
                    </li>
                </ol>
            </div>

        </div>
        <button id="voltar_tabela" style="display: none; margin: 60% 40% 60% 0%;"></button>
        <div id="quadro_negro">
            <div id="element-details" style="display:none"> 
            </div>
        </div>
    </div>
    <div id="mainFisica" style="display: none;">
        <p>Quer ser nosso Paraninfo?</p>

    </div>
</body>
</html>